body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.post {
  overflow: hidden;
  padding-left: 120px;
}
.card {
  /* min-height :150px; */
}
.img-home{
  width:30%;
  position: absolute;
  top:30px;
  left: -140px;
  opacity: 0.6;
}